# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Duke
	email = longwdl@gmail.com
[pull]
	ff = only
[push]
	default = simple
[log]
	date = iso-local
[init]
	defaultBranch = main
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	fileMode = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[include]
	path = ~/.gitconfig.proxy
	path = ~/.gitconfig.work
